<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="theme.css">
  </head>
  <body>
    <div style="font-family: test; font-size: 2.5em; text-align:right; float:right; padding-right:10%">
        <a href=shop.html>Shop</a>
    </div>

    <div style="text-align:left; padding-left: 8%">
        <a href=index.html><img src="logo.png" width="20%"></a>
    </div>

    <div style="text-align:left; float: left; padding-top: 5%; padding-left: 20%">
        <img src="keychain1.png" height=300px>
    </div>

    <div style="text-align: center; padding-right: 20%; padding-top: 5%; float: center">
        <h2 style="font-family:test; font-size: 3em">Spell of  Prajna Paramita Keychai</h2>
        <h2 style="font-family:test; font-size: 2em">$15</h2>
    </div>

    <div style="background-color: #d3d3d3; clear:both; width:400px; padding-left:10px; margin-left: 20%">
        <h2 style="font-family:test; font-size: 1.8em">Description</h2>
        <p>
    </div>
    <div style="margin-left: 20%">
        This is the Prajna Paramita mantra. Keep it close to you at all times, to remind you 
        of its power, its great magic, its ability to heal all suffering.  
        <blockquote>Gate, Gate, Paragate, Parasamgate, Bodhi Svaha</blockquote>
        <blockquote>Go! Go! Go beyond! Go completely beyond!! To enlightenment.</blockquote>
        
        This mantra is impossible to translate. This is partly because it is in Sanskrit and partly 
        because I believe the full meaning of this mantra is inaccessible to those who have not 
        experienced their Buddha natures. The point of the mantra, even, is not necessarily to 
        deliver precise meaning. It is not a container which you can pry open with tools of logic 
        and absorb into your mental models. It is more of a tool to help trigger a mental state 
        in which you can appreciate non-duality and expand from your self into the universe. 
        <br>
        <br>

        I think this interpretation of the mantra becomes clear when you watch other people 
        <a href="http://www.youtube.com/watch?v=aTfS8QB4n3I&t=4m30s">recite the sutra</a>. The 
        slow, deliberate chanting, timed to the beat of the wooden block, encourage your mind to 
        enter a trance. The more intimiately you listen to the mantra, the more you let go of your 
        conscious interpretation of the sounds, the more your mind and body will expand into the 
        non-dual interpretation of the universe that is at the heart of Prajna Paramita. 
        <br>
        <br>

        "Let go of the eye, and the whole body-and-mind are nothing but the eye; let go of the ear, 
         and the whole universe is nothing but the ear." -- Zen Master Dogen

    </div>

    <div style="background-color: #d3d3d3; clear:both; width:400px; padding-left:10px; margin-left: 20%"> 
        <h2 style="font-family:test; font-size: 1.8em">FAQs</h2>
    </div>
    <div style="margin-left: 20%; padding-bottom: 10%">
        <b>What is the Gatha associated with this keychain?</b>
        <br>
        迷师言墙外<br>
        明师度墙门<br>
        迷生墙为尽<br>
        明生内外明<br>
    </div>

   </body>
</html>

