<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="theme.css">
  </head>
  <body>
    <div style="font-family: test; font-size: 2.5em; text-align:right; float:right; padding-right:10%">
        <a href=shop.html>Shop</a>
    </div>

    <div style="text-align:left; padding-left: 8%">
        <a href=index.html><img src="logo.png" width="20%"></a>
    </div>

    <div style="text-align:left; float: left; padding-top: 5%; padding-left: 20%">
        <img src="mug1.png" height=500px>
    </div>

    <div style="text-align: center; padding-right: 10%; padding-top: 5%; float: center">
        <h2 style="font-family:test; font-size: 3em">Form is Void (Emptiness) Mug</h2>
        <h2 style="font-family:test; font-size: 2em">$30</h2>
    </div>

    <div style="background-color: #d3d3d3; clear:both; width:400px; padding-left:10px; margin-left: 20%">
        <h2 style="font-family:test; font-size: 1.8em">Description</h2>
        <p>
    </div>
    <div style="margin-left: 20%">
        <blockquote>舍利子。色不異空。空不異色。色即是空。空即是色。</blockquote>
        This verse is intended to intoduce the non-dual worldview that is key to enlightenment in 
        Mahayana Buddhism. For ordinary people, this attempt at non-dualism is quickly broken. How 
        could you say that emptiness, like space, is form? How could you say that form, like your 
        body, is empty?
        <br><br>

        What if you consider form and void as interdependent, like yin and yang? One does not obtain 
        meaning without the other; one cannot exist without the other. Perhaps this interpretation 
        is still too simplistic. Is it a limitation of the English language that we cannot conceive 
        of a non-dual world, of no birth, no death, no old age, no wisdom, nothing to attain?

        <br><br>
        But it is not just English that has yet come to terms with non-duality. Confucius texts like 
        <a href="http://pages.ucsd.edu/~dkjordan/chin/Koong/GreatLearning.html#shiftpoint">
        "The Great Learning"</a> also encourage a dualistic perspective. Consider the last line of 
        the Great Learning: 
        <blockquote>其所厚者薄、而其所薄者厚、未之有也。
        </blockquote>
        <blockquote>It never has been the case that what was of great importance has been slightly 
        cared for, and, at the same time, that what was of slight importance has been greatly cared 
        for.
        </blockquote>
        <blockquote>You simply cannot take the essential things as superficial, and the 
        superficial things as essential.
        </blockquote>
        
        I have provided two English translations of the Chinese. The second translation has 
        stronger phrasing than the first. 
        <br><br> 
        
        Consider another passage in the Great Learning: 
        <blockquote>物有本末、事有終始。知所先後則近道矣。
        </blockquote> 
        <blockquote>Things have their root and their branches. Affairs have their end and their 
        beginning. To know what is first and what is last will lead near to what is taught in the 
        Great Learning.
        </blockquote> 
        <blockquote>Things have their roots and branches, affairs have their end and beginning. 
        When you know what comes first and what comes last, then you are near the Way. 
        </blockquote> 

        Perhaps those who are familiar with the Great Learning will argue that its objective is 
        distinct; it is a political text. You may say thta Buddhism is a religion which chooses to 
        not involve itself in affiars of human governance. It is dualistically separate, concerned 
        with people's salvation and spiritual wholeness. If that is so, what does the Great 
        Learning mean by 修身 and 德, to cultivate self and virtue? What kind of self cultivation 
        does the investigation of things and extension of knowledge and sincerity of will and 
        correction of mind lead to? Is it primarily an intellectual extension, a strong adherence 
        to Confucians ideals of ritual and propriety? Or will a ruler who chooses to pursue the path 
        prescribed by the Great Learning follow a path more similar to that of the Inward Training 
        (內業) and cultivate self through meditation and Qi control? 
        <br><br>
        One way to break free of the idea of roots and branches is to consider that the stream of 
        time is a Mobius strip. The Mobius strip is so long that we can only see a small, linear 
        section of it. Our limited perception gives us reason to believe in beginning and end, 
        birth and death, as ultimate phenomenon. If the Mobius strip interpretation is accurate, 
        then birth and death, us, even, are merely being shuttled endlessly along this stream of 
        life. Is this Samsara? 
        <br><br>
        Even if you are able to recognize Samsara, you have not begun your journey towards Nirvana 
        and Prajna Paramita until you recognize non-duality. Ackonwledgement of non-duality can 
        come simply if you expand the scale at which you consider the universe. If you consider 
        the universe to encompass all of us and the things on this earth and the galaxy, etc, then 
        there is only unity. Duality only appears when you zoom in and borders between objects 
        begin appearing. 
        <br><br>
        The above analysis may be too superficial, but is only the first step to breaking free of 
        samsara. As you proceed through the Heart Sutra and into deeper levels of understanding, 
        you will likely discover a better way to demonstrate the emptiness of form and 'formness'
        of the Void. 
        
    </div>

    <div style="background-color: #d3d3d3; clear:both; width:400px; padding-left:10px; margin-left: 20%"> 
        <h2 style="font-family:test; font-size: 1.8em">FAQs</h2>
    </div>
    <div style="margin-left: 20%; padding-bottom: 10%">
        <b>How many oz can this mug hold?</b>
        <br>
        Around 10 oz of your favorite liquid. 
        <br>
        <br>
        <b>What is the Gatha associated with this mug?</b>
        <br>
        Those who claim to perceive the taste of water<br>
        Those who claim the taste of water is unknowable<br>
        And those who claim the taste of water does not exist<br>
        Are all equally wrong<br>
        </div>

   </body>
</html>

