<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="theme.css">
  </head>
  <body>
    <div style="font-family: test; font-size: 2.5em; text-align:right; float:right; padding-right:10%">
        <a href=shop.html>Shop</a>
    </div>

    <div style="text-align:left; padding-left: 8%">
        <a href=index.html><img src="logo.png" width="20%"></a>
    </div>

    <div style="text-align:center">
        <img src="HeartSutraFeature.jpg" height="500px" width="80%" border="25%">
        <h1 style="font-family: test"><span>About</span></h1>
    </div>

    <div style="padding-left:10%; text-align:left; padding-bottom: 10%; width:80%; word-wrap:break-word;">
        <blockquote>
            觀自在菩薩。行深般若波羅蜜多時。照見五蘊皆空。度一切苦厄。</blockquote>
        <blockquote>舍利子。色不異空。空不異色。色即是空。空即是色。</blockquote>
        <blockquote>受想行識。亦復如是。</blockquote>
        <blockquote>舍利子。是諸法空相。不生不滅。不垢不淨。不增不減。</blockquote>
        <blockquote>是故空中無色。無受想行識。無眼耳鼻舌身意。無色聲香味觸法。</blockquote>
        <blockquote>無眼界。乃至無意識界。無無明。亦無無明盡。乃至無老死。亦無老死盡。</blockquote>
        <blockquote>無苦集滅道。無智亦無得。</blockquote>
        <blockquote>以無所得故。菩提薩埵。依般若波羅蜜多故。心無罣礙。無罣礙故。無有恐怖。遠離顛倒夢想。究竟涅槃。</blockquote>
        <blockquote>三世諸佛。依般若波羅蜜多故。得阿耨多羅三藐三菩提。</blockquote>
        <blockquote>故知般若波羅蜜多。是大神咒。是大明咒。是無上咒。是無等等咒。</blockquote>
        <blockquote>能除一切苦。真實不虛。故說般若波羅蜜多咒。即說咒曰。
揭諦揭諦　波羅揭諦　波羅僧揭諦　菩提薩婆訶 
        </blockquote>
      <p>     
        This website is my lay attempt to share the wisdom of the Heart Sutra, a 
        beautiful Buddhist text, with the world. Thank for having read thus 
        far. An analysis of some of the more meaty portions of the text 
        are available in the description for the corresponding product. 
        You can view our products by clicking Shop at the top of the page.
      </p>

        <br>
        <br>
        <b>Gatha Associated with the Site</b><br>
       My mind on the water is like a small boat<br>
Fill it up with stones and it can no longer float<br>
But when the stones are tossed overboard<br>
The boat can travel from shore to shore<br>

    </div>

  </body>
</html>

