<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="theme.css">
  </head>
  <body>
    <div style="font-family: test; font-size: 2.5em; text-align:right; float:right; padding-right:10%">
        <a href=shop.html>Shop</a>
    </div>

    <div style="text-align:left; padding-left: 8%">
        <a href=index.html><img src="logo.png" width="20%"></a>
    </div>

    <div style="text-align:center">
        <img src="HeartSutraFeature.jpg" height="500px" width="80%" border="25%">
        <h1 style="font-family: test"><span>About</span></h1>
    </div>

    <div style="padding-left:10%; text-align:left; width:80%; word-wrap:break-word;">
        <p>Unlike most of my classmates, who grew up in Christian 
           households with European parents, I grew up with the Heart 
           Sutra as one of my most treasured childhood "stories". My mom 
           grew up in Taiwan and was strongly steeped in the Buddhist 
           culture that is prevalent on the island. Every morning, she 
           would light some incense and wave it in the air while she prayed 
           and chanted to the small Guanyin statue that was centered in 
           the small altar she had set up in our living room. Every week, 
           she would water the small flowers that were on the sides of the 
           altar and replace the fruits she had placed in front of Guanyin. 
           </p>
        <p>I often watched my mother pray. She would pray for all kinds of 
           things, like rain the next weekend, good grades on my math test, 
           that my family not get the flu this winter, that my father gets 
           a promotion, and so on. She would often recite a few passages 
           out of a little book of Buddhist mantras at the end of her 
           prayer. Once, when I was 10 years old, I flipped open this little
           book of mantras and began reading the Heart Sutra. Given that 
           my Chinese was poor, I could not understand many of the 
           characters. I had my mother read the passage to me that evening 
           before I went to bed. Again, the words went in one ear and out 
           the other. Over the course of the next month, I would read a 
           new passage each day and have my mother read the passage out 
           loud to me each evening before I slept. The only one of those 
           passages that stuck with me was the Heart Sutra. I have reproduced the Chinese version of the Heart Sutra below. An English translation is <a href="https://www.buddhanet.net/e-learning/heartstr.htm">linked here</a>. 
        </p>
        <blockquote>
            觀自在菩薩。行深般若波羅蜜多時。照見五蘊皆空。度一切苦厄。</blockquote>
        <blockquote>舍利子。色不異空。空不異色。色即是空。空即是色。</blockquote>
        <blockquote>受想行識。亦復如是。</blockquote>
        <blockquote>舍利子。是諸法空相。不生不滅。不垢不淨。不增不減。</blockquote>
        <blockquote>是故空中無色。無受想行識。無眼耳鼻舌身意。無色聲香味觸法。</blockquote>
        <blockquote>無眼界。乃至無意識界。無無明。亦無無明盡。乃至無老死。亦無老死盡。</blockquote>
        <blockquote>無苦集滅道。無智亦無得。</blockquote>
        <blockquote>以無所得故。菩提薩埵。依般若波羅蜜多故。心無罣礙。無罣礙故。無有恐怖。遠離顛倒夢想。究竟涅槃。</blockquote>
        <blockquote>三世諸佛。依般若波羅蜜多故。得阿耨多羅三藐三菩提。</blockquote>
        <blockquote>故知般若波羅蜜多。是大神咒。是大明咒。是無上咒。是無等等咒。</blockquote>
        <blockquote>能除一切苦。真實不虛。故說般若波羅蜜多咒。即說咒曰。
揭諦揭諦　波羅揭諦　波羅僧揭諦　菩提薩婆訶 
        </blockquote>
      <p>     
        This website is my lay attempt to share the wisdom of this 
        beautiful Buddhist text with the world. Thank for having read thus 
        far. An analysis of some of the more meaty portions of the text 
        are available in the description for the corresponding product. 
        You can view our products by clicking Shop at the top of the page.
      </p>
    </div>

  </body>
</html>

