<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="theme.css">
  </head>
  <body>
    <div style="font-family: test; font-size: 2.5em; text-align:right; float:right; padding-right:10%">
        <a href=shop.html>Shop</a>
    </div>

    <div style="text-align:left; padding-left: 8%">
        <a href=index.html><img src="logo.png" width="20%"></a>
    </div>

    <div style="text-align:left; float: left; padding-top: 5%; padding-left: 22%">
        <img src="poster.png" height=500px style="border: 5px solid black">
    </div>

    <div style="text-align: center; padding-right: 10%; padding-top: 5%; float: center">
        <h2 style="font-family:test; font-size: 3em">Path to Nirvana Poster</h2>
        <h2 style="font-family:test; font-size: 2em">$60</h2>
    </div>

    <div style="background-color: #d3d3d3; clear:both; width:400px; padding-left:10px; margin-left: 20%">
        <h2 style="font-family:test; font-size: 1.8em">Description</h2>
        <p>
    </div>
    <div style="margin-left: 20%">
        <blockquote>以無所得故。菩提薩埵。依般若波羅蜜多故。心無罣礙。無罣礙故。無有恐怖。遠離顛倒夢想。究竟涅槃。</blockquote>
        The Buddhist practice is mostly a mental one. Once you have dominated your mind and all its 
        misguided understanding of the world, you will be able to face the world without fear or 
        anger or passion. 
        <br><br> 
        If there is nothing to be attained, there is nothing left to do but sit back and contemplate 
        the world. Once you have accepted that as truth, you can rely on non-duality to guide your 
        exploration of and unison with the universe. 
        <br><br>
        One can also consider 罣礙 to mean worry. This definition is suitable for the context of 
        the text, but it is not as effective in delivering the message. To be without worry is 
        not as strong a condition as to be without mental obstruction, or to be able to see clearly. 
        There are those who are confidently wrong.  
        <br><br>
        It seems a bit strange to include the portion regarding confused imagination. My first 
        thought was that confused imagination refers to an incorrect conception of Nirvana. I am 
        thinking of all the elaborate images people have created to represent the Christian heaven. 
        My confusion arises because it seems that those who no longer have obstructions should also 
        no longer be confused. They should be able to see clearly, relying on the Supreme Wisdom. 
        Perhaps the idea is that confused imagination is merely another of the mental obstructions 
        you will watch pass by you as you travel in your boat to the other shore of the Enlightened. 
        Maybe this is my confused imagination manifesting. 
        
    </div>

    <div style="background-color: #d3d3d3; clear:both; width:400px; padding-left:10px; margin-left: 20%"> 
        <h2 style="font-family:test; font-size: 1.8em">FAQs</h2>
    </div>
    <div style="margin-left: 20%; padding-bottom: 10%">
        <b>How large is this poster?</b>
        <br>
        Large enough to look nice on your wall. 
        <br>
        <br>
        <b>What is the Gatha associated with this poster?</b>
        <br>
        Always listen to the words of others,<br>
        For that is how you can learn and grow.  <br>
        But always compare these ideas with your own thoughts,  <br>
        Lest you accept delusions into your mind.<br>
        <br>
    </div>

   </body>
</html>

