<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="theme.css">
  </head>
  <body>
    <div style="font-family: test; font-size: 2.5em; text-align:right; float:right; padding-right:10%">
        <a href=shop.html>Shop</a>
    </div>

    <div style="text-align:left; padding-left: 8%">
        <a href=index.html><img src="logo.png" width="20%"></a>
    </div>

    <div style="text-align:left; float: left; padding-top: 5%; padding-left: 22%">
        <img src="poster.png" height=500px style="border: 5px solid black">
    </div>

    <div style="text-align: center; padding-right: 10%; padding-top: 5%; float: center">
        <h2 style="font-family:test; font-size: 3em">Empty Skandhas T-Shirt</h2>
        <h2 style="font-family:test; font-size: 2em">$60</h2>
    </div>

    <div style="background-color: #d3d3d3; clear:both; width:400px; padding-left:10px; margin-left: 20%">
        <h2 style="font-family:test; font-size: 1.8em">Description</h2>
        <p>
    </div>
    <div style="margin-left: 20%">
        
        <blockquote>以無所得故。菩提薩埵。依般若波羅蜜多故。心無罣礙。無罣礙故。無有恐怖。遠離顛倒夢想。究竟涅槃。</blockquote>
        
    </div>

    <div style="background-color: #d3d3d3; clear:both; width:400px; padding-left:10px; margin-left: 20%"> 
        <h2 style="font-family:test; font-size: 1.8em">FAQs</h2>
    </div>
    <div style="margin-left: 20%; padding-bottom: 10%">
        <b>What is the Gatha associated with this poster?</b>
        <br>
        Always listen to the words of others,<br>
        For that is how you can learn and grow.  <br>
        But always compare these ideas with your own thoughts,  <br>
        Lest you accept delusions into your mind.<br>
        <br>
    </div>

   </body>
</html>

