<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="theme.css">
  </head>
  <body>
    <div style="font-family: test; font-size: 2.5em; text-align:right; float:right; padding-right:10%">
        <a href=shop.html>Shop</a>
    </div>

    <div style="text-align:left; padding-left: 8%">
        <a href=index.html><img src="logo.png" width="20%"></a>
    </div>

    <div style="text-align:left; float: left; padding-top: 5%; padding-left: 20%">
        <img src="tshirt_1.png" height=500px>
    </div>

    <div style="text-align: center; padding-right: 20%; padding-top: 5%; float: center">
        <h2 style="font-family:test; font-size: 3em; text-decoration: line-through ">Empty Skandhas T-Shirt</h2>
        <h2 style="font-family:test; font-size: 2em; color: red">Temporarily Out of Stock</h2>
        <h2 style="font-family:test; font-size: 2em">$50</h2>
    </div>

    <div style="background-color: #d3d3d3; clear:both; width:400px; padding-left:10px; margin-left: 20%">
        <h2 style="font-family:test; font-size: 1.8em">Description</h2>
        <p>
    </div>
    <div style="margin-left: 20%">
        The full portion of the Heart Sutra this t-shirt is referring to is: 
        <blockquote>觀自在菩薩。行深般若波羅蜜多時。照見五蘊皆空。度一切苦厄。</blockquote>
        <blockquote>When the Boddhisattva Avalokitesvara was coursing in the deep prajna 
                    paramita he perceived that all five skandhas are enmpty. Thus he overcame all 
                    ills and suffering.</blockquote>
        There are multiple ways to translate the Chinese term 行. If one subscribed to the theory of
        <a href="https://en.wikipedia.org/wiki/Indeterminacy_of_translation">indeterminancy of 
        translation</a>, there is no absolute way to translate the term. The English I have 
        presented here uses "coursing". Red Pine uses "practicing". 
        <a href="https://pages.ucsd.edu/~dkjordan/chin/chtxts/ShinJinge.html">Another</a> uses 
        "deeply understood". Understanding which word is most appropriate requires a deeper 
        understanding of prajna paramita. 

        A direct translation yields "perfect wisdom", or "the wisdom that goes beyond", or 
        <a href="https://en.wikipedia.org/wiki/Prajnaparamita">"the perfection of transcendent 
        wisdom"</a>, as Wikipedia puts it. 

        
                
    </div>

    <div style="background-color: #d3d3d3; clear:both; width:400px; padding-left:10px; margin-left: 20%"> 
        <h2 style="font-family:test; font-size: 1.8em">FAQs</h2>
    </div>
    <div style="margin-left: 20%; padding-bottom: 10%">
        <b>Why no sizing?</b>
        <br>
        We have a patented One Size Fits All design. 
        <br><br>
        <b>When will you be back in stock?</b>
        <br>
        If form is emptiness and emptiness is form, does this t-shirt exist? 
        <br>
        In the Void there are no forms, no feelings, perceptions, volitions or consciousness. 
        <br>
        Step beyond the illusion of the world and into an understanding of being and non-being. 
        <br><br>
        <b>Is there a design on the back?</b>
        <br>
        You must discover the truth for yourself. 
        <br><br>
        <b>What is the Gatha associated with this shirt?</b>
        <br>
        The mind is shadows on in a mirror<br>
        Our perception is near-sighted<br>
        and the mirror imperfect<br>
        Our Buddha nature perfects the flaws<br>
    </div>

   </body>
</html>

